<mat-toolbar color="primary">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/docs">Docs</button>
    <button mat-button routerLink="/example">Example</button>
    <!-- This fills the remaining space of the current row -->
    <div class="flex-spacer"></div>
    <button mat-button routerLink="/contact">Contact</button>
    <a target="_blank" href="https://github.com/DJilanov/Angular5-event-driven-boilerplate">
        <button mat-button>
            <i class="fa fa-one-and-half-x fa-github" aria-hidden="true"></i>
            <span class="tiny-left-margin">Github</span>
        </button>
    </a>
</mat-toolbar>